/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2024, 11:15:55 PM
    Author     : Donovan Morales
*/
.barraLateral{
        -fx-background-color: #011526;
}

.fondo{
        -fx-background-color: #E4F2E7;
}
.modificacionIcon{
        -fx-fill: white;
}

.modificacionBtn{
        -fx-background-color: #025959;
        padding:  auto;
}