/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2024, 11:15:55 PM
    Author     : Donovan Morales
*/
.barraLateral{
        -fx-background-color: #171F2A;
}

.fondo {
    -fx-background-color: #FEFEFF;

    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.50), 30, 0.15, 5, 5);
    -fx-padding: 10;
}

.fondoPrincipio{
    -fx-background-color: #1F2B39;
    
}
.barraSuperior{
        -fx-background-color: white;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.50), 30, 0.15, 5, 5);
}

.botonMenu{
        -fx-background-color: #FFFFFF;
}


.modificacionIcon{
        -fx-fill: white;
}

.modificacionBtn{
        -fx-background-color: #025959;
        padding:  auto;
}


/* Style for the TableView */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #3B3B3B;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.70), 30, 0.15, 5, 5);
    -fx-padding: 10;
}

/* Style for the TableColumn headers */
.table-view .column-header-background {
    -fx-background-color: black;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30px;
}

.table-view .column-header .label {
     -fx-background-color: #3B3B3B;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.scrol {
    -fx-background-color:#011526;
}

.Panel{
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-background-radius: #FFFFFF;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #01C48C, #04425b);
}

.transparenteBoton{
    -fx-background-color: transparent;
}


.buttonEntidades{
        -fx-background-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.buttonEncabezado{
    -fx-background-color: #1BF2A3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;  
}

.anchorPaneTitulo{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;  
    
}

.botonDeAnchor{
    -fx-border-color: white;
    -fx-background-radius: 180;
    -fx-border-radius: 360;
    -fx-background-radius: white;
        
    -fx-background-color: #3B3B3B;
}


.buscar{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: black;
    -fx-background-radius: #FFFFFF;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #00ffb6, #04425b);
}

.barraDeInformacion{
    -fx-background-color: #334B65;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.botonRecuadro{
    -fx-background-color: transparent;
}

.botonRecuadro:hover{
        -fx-text-fill: #34c0d8; /* Cambia el color del texto al pasar el mouse */
}